body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.shoe-image {
  display: flex;
  max-width: 350px;
  max-height: 200px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.all-shoes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.shoe {
  display: flex;
  flex-direction: column;
  flex: 1 1 160px;
  justify-content: space-around;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin: 3px;
  padding: 5px;
  align-items: stretch;
}

.logo {
  max-width: 300px;
}

.orderForm {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
