body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.shoe-image {
  display: flex;
  max-width: 350px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.all-shoes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.shoe {
  display: flex;
  flex-direction: column;
  flex: 1 1 160px;
  justify-content: space-around;
  border-color: lightgray;
  border-width: 2px;
  border-style: solid;
  margin: 11px;
  padding: 11px;
  align-items: stretch;
  min-width: 275px;
}

.logo {
  max-width: 300px;
}

.orderForm {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.shoe-count {
  text-align: center;
}
button {
  background-color: #42a5f5;
  border-radius: 4px;
}

.pagination a {
  color: #ff5252;
  font-size: 22px;
  border: 1px solid #ddd;
}

.rainbow {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #f22),
    color-stop(0.15, #f2f),
    color-stop(0.3, #22f),
    color-stop(0.45, #2ff),
    color-stop(0.6, #2f2),
    color-stop(0.75, #2f2),
    color-stop(0.9, #ff2),
    color-stop(1, #f22)
  );
  background-image: gradient(
    linear,
    left top,
    right top,
    color-stop(0, #f22),
    color-stop(0.15, #f2f),
    color-stop(0.3, #22f),
    color-stop(0.45, #2ff),
    color-stop(0.6, #2f2),
    color-stop(0.75, #2f2),
    color-stop(0.9, #ff2),
    color-stop(1, #f22)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
